<figure>
    <a href="{{ page.media[ image ].url }}">
       <img src="{{ page.media[ image ].url }}" alt="Figure {{ number }}">
    </a>
<figcaption>
    Figure {{ number }}. {{ caption }}
</figcaption>
</figure>
